.main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-div{
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 700px;
    text-align: center;
    display: none;
}

.main-div{
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 700px;
    text-align: center;
    display: none;
}

#welcome{
    display: block;
}

#welcome_title
{
    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    color: #000000;
}

#key {
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 700px;
    text-align: center;

}

#gamer_name 
{
    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #000000;
}



button 
{
    background: rgba(41, 10, 10, 0.81);
    border: 4px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

